[Unit]
Description=llmbs - llvision storage server
Documentation=https://llvision.com/
After=network-online.target remote-fs.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/var/run/llmbs.pid
ExecStart=/home/wisdom/work/ambs/bin/llmbs
ExecStop=/home/wisdom/work/ambs/bin/llmbs -s stop


[Install]
WantedBy=multi-user.target
