# object files
*.o 
*.ko
*.obj 
*.elf

# precompiled headers
*.gch
*.pch

# libraries
*.lib
*.a
*.la 
*.lo 

# shared objects
*.dll
*.so
*.so.*
*.dylib

# executables
*.exe 
*.out
*.app
*.i*86
*.x86_64
*hex

# visual stdio files
obj
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.ilk
*.pdb

# user-specific files
*.suo
*.user
*.sln.docstates

# mp4 files
*.mp4

# log files
*.log

# pid files
*.pid

# llmbs
bin/llmbs
error.log

# vscode
.vscode

# autoconf cachefile
autom4te.cache

ext
wst/.deps
wst/llmbs
outdebian

configure
configure.in
configure.scan
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4 
config.cache
config.guess
config.h 
config.h.in 
config.h.in~
config.h-new
config.log
config.rpath
config.status*
config.sub
libtool
ltconfig
ltmain.sh
missing
stamp-h 
stamp-h.in 
stamp-h1
stamp.h 

autoregen.sh
compile
depcomp
install-sh

*.*~